# generated binaries
Distribution/ncam-*
Distribution/list_smargo-*

# backup/swap file for vi
*~
*.swp

README.build
README.config
README.dvbapi_protocol

# build directories
/build/
/build_dir/

# Currently enabled config items
webif/is_defined.txt
webif/images/ICMLOGO.svg

# Testing program
tests.bin
tests.bin.debug
